*.pyc
*.LOG
*.log
*.log.*
*.log.backup
*.log.*.backup
*.json
!crest/utils/crest_logging_configs/*.json
*.h5
__pycache__
.pytest_cache
.ipynb_checkpoints
.DS_Store
*.zarr
/data
/outputs
crest_cache/
soil_moisture/
*.pkl
*.log.jsonl*
shapefiles*/
interactive_graph.html
soil_moisture*
